/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif*/

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.header-intro {
  padding-top: 200px;
}

.hero {
  background: gray;
}
