:root {
  --primary-color: #e8fdff;
  --heading-font-family: "Playfair display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #05aabb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

.hero h3 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  margin-top: 18px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  margin-bottom: 0px;
  font-weight: bold;
}

.header-intro {
  margin-top: 130px;
}

.header-main {
  background: var(--primary-color);
}

nav {
  font-family: var(--default-font-family);
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 6px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 34px;
  padding: 12px 20px;
  color: white;
}

.project-showcase {
  font-family: var(--heading-font-family);
  font-size: 24px;
  margin-top: 18px;
  color: var(--secondary-color);
}

.showcase-title {
  font-family: var(--heading-font-family);
  padding-top: 40px;

  font-size: 68px;
}

.img-display {
  background: black;
}

i {
  font-size: 32px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 0px;
}

.contact-section {
  background: var(--primary-color);
  padding-bottom: 40px;
  padding-top: 28px;
  max-width: 100%;
}

.html {
  color: #ed5e29;
}

.css {
  color: #2367b2;
}

.js {
  color: #f1bf22;
}

.code {
  color: #0279cb;
}

.api {
  color: #03bff4;
}

.bootstrap {
  color: #7311f5;
}

.hosting {
  color: #38aebb;
}

.flexbox {
  color: #0765fa;
}

.react {
  color: #03d9fe;
}

.github {
  color: #963ea6;
}

.seo {
  color: #34a953;
}

.contact-icons {
  color: var(--secondary-color);
}

.contact-icons:hover {
  color: var(--secondary-color);
  opacity: 0.6;
}

.taylors-email {
  font-family: var(--default-font-family);

  font-size: 20px;
}

.contact-header {
  font-size: 48px;
}

.footer-arrow {
  font-size: 56px;
}

.footer-arrow:hover {
  color: var(--secondary-color);
  opacity: 0.6;
}

.arrow-link {
  color: var(--secondary-color);
}

.my-projects {
  max-width: 100%;
}

@media (max-width: 768px) {
  .hero p {
    font-size: 20px;
    margin-top: 12px;
  }
  .hero h1 {
    font-size: 60px;
    margin-bottom: 0px;
  }
  .hero h3 {
    font-size: 16px;
  }
  .header-intro {
    margin-top: 20px;
  }
  .icons {
    display: none;
  }

  .contact-button {
    display: none;
  }
  .project-image {
    display: none;
  }
  .project-showcase {
    font-size: 28px;
  }
  .project-showcase h1 {
    text-align: left;
  }

  footer {
    padding: 48px;
    padding-bottom: 10px;
  }

  .about-h1 {
    font-size: 28px;
    text-align: center;
  }

  .about-h3 {
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
    margin-top: 10px;
  }

  .about-p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
  }

  .about-list {
    display: none;
  }

  .about-p2 {
    display: none;
  }
}

.btn-project {
  background: var(--secondary-color);

  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 34px;
  display: block;
  margin: 0 auto;
}

.btn-project:hover {
  background: #79cbd6;
  transition: 100ms ease-in-out;
}

.project-description {
  opacity: 0.6;
}

.project-image img {
  width: 100%;
  height: 280px;
}

.about-section {
  background: var(--primary-color);
}

.cert-img {
  border: 4px solid var(--secondary-color);
  border-radius: 4px;
}

.about-hero {
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  font-family: var(--default-font-family);
}

.about-image {
  width: 100%;
}

.mots-link {
  color: var(--secondary-color);
  font-weight: bold;
}

.mots-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
  opacity: 0.7;
}

mots-link:visited {
  color: var(--secondary-color);
}

.email-taylor {
  color: var(--secondary-color);
}

.email-taylor:hover {
  color: #79cbd6;
  text-decoration: none;
}

.about-p,
.about-p2 {
  line-height: 1.75;
  opacity: 0.7;
  font-size: 18px;
}

.about-h1 {
  font-size: 64px;
}
.logo {
  color: Var(--secondary-color);
}

.nav-link {
  color: black;
  opacity: 0.6;
}

.nav-link:hover {
  color: var(--secondary-color);
  opacity: 1;
}

.active {
  color: var(--secondary-color);
  opacity: 1;
}

.section-divider {
  background: #faf7fe;
  padding: 48px;
}

.page-down i {
  font-size: 124px;
  display: block;
  margin: 0 auto;
  color: var(--secondary-color);
}
