/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif*/

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.header-intro {
  margin-top: 200px;
}

.header-main {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
